*,
::before,
::after {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

header {
  border: solid 1px black;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  padding: 0 1rem;
}

.header ul {
  display: flex;
  gap: 1rem;
}

.header ul li {
  text-decoration: none;
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: solid 1px black;
  margin-top: 1rem;
  padding: 1rem 0;
}

.add-book {
  display: none;
  width: 100%;
}

.add-book form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.add-book form div {
  display: flex;
  flex-direction: column;
}

.bookList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 10px;
}

.lineBook {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact {
  width: 80%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.contact p {
  text-align: center;
}
